body{
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-color: #C7EAFF;
}

header{
	background-color: black;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 50px;
}

header img{
	width: 25%;
	border-radius: 100%;
	border: 7px solid gold;
}

header h1{
	font-size: 70px;
	padding-bottom: 40px;
	color: gold;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

main img{
	width: 100%;
	padding-top: 20px;
}

h2{
	font-size: 30px;
	margin: 40px 0 10px;
}

a{
	color: darkblue;
}

a:hover{
	color: gold;
}

footer{
	background-color: black;
	text-align: center;
	padding: 30px;
	color: gold;
	font-size: 15px;
}

footer p{
	margin: 0;
}

p.caption{
	margin-top: -10px;
	font-size: 15px;
	color: #555555;
}