body{
	background-color: lightgoldenrodyellow;
}

h1{
	font-size: 30px;
	color: teal;
}

h2{
	font-size: 20px;
	color: red;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color: violet;
}